/* -ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

.nav li {
  float: left;
}

.nav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.nav li a:hover {
  background-color: #111;
} */

.nav ul {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

.nav li {
  float: left;
}
.nav a {
  color: rgb(0, 140, 255);
  text-decoration: none;
  display: block;
  padding: 10px 10px;
}
.nav a:hover {
  background-color: rgb(129, 226, 255);
  color: black;
}

.nav .table {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  margin: 0 auto;
  background-color: #333;
}

.nav a.active {
  background-color: rgb(49, 187, 212);
  color: white;
}

#menu-outer {
  background: lightgrey;
}
